<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Enrollment Form </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Mukta" rel="stylesheet">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- My styles -->
    <link rel="stylesheet" type="text/css" href="/css/loginstyle.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginstyle.css}" />
    <link rel="stylesheet" type="text/css" href="/css/addUserDeviceStyle.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/addUserDeviceStyle.css}" />
    <link rel="stylesheet" type="text/css" href="loginstyle.css" />
    <link rel="stylesheet" type="text/css" href="loginstyle.css" />
    <link rel="stylesheet" type="text/css" href="addUserDeviceStyle.css" />
</head>

<body>
    <form action="#" th:action="@{/addUserDevice}" th:object="${device}" method="post" class="form-signin">
        <div>Add a device</span> if you want <b th:text="${user.userName}" /></div>
        Used devices:
        <span th:each="ud, iterStat : ${user.deviceUsers}">
            <span th:text="${ud.device.deviceName}" />
            <th:block th:if="${!iterStat.last}">,</th:block>
        </span>
        </div>
        <div>
            <select class="form-control device-select" name="deviceId">
                <optgroup label="Devices" class="device-option">
                    <option class="device-option" th:each="device : ${devices}" th:value="${device.device_id}" th:text="${device.deviceName}">Device</option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control submit-btn" value="Add device">
        </div>
    </form>
    </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
